.no-padding {
  padding: 0 !important;
}

.translator-wrapper {
  width: 80%;
  float: right;
  padding: 15px 15px;
}

.translation-actions-row {
  display: inline-block;
  width: 100%;
  padding: 5px;
}

.translation-input-wrapper,
.translation-output-wrapper {
  width: 48%;
  float: right;
  margin-left: 10px;
}

/* .translation-input,
  .translation-output {
    
  } */

.translation-input {
  position: relative;
}

textarea {
  resize: none;
  height: 9em;
  width: 100%;
  padding: 9px;
  margin: 0px;
  margin: -2px 0px -5px 0px;
  
}

textarea:disabled{
  background-color: whitesmoke;
}

.clearInput {
  position: absolute;
  top: 5px;
  right: 5px;

}

.side-left-margin{
  margin-left: 6px;
}